body{
  background-image: url("table.jpg");
}

#player1
{
  background-color: white;
  border-radius: 25px;
  margin: 20px;
  font-size: 250px;
  color: white;
}
#deck
{
  background-color: white;
  border-radius: 25px;
  margin: 20px;
  font-size: 250px;
  color: white;
}
#player2
{
  background-color: white;
  margin: 20px;
  border-radius: 25px;
  font-size: 250px;
  color: white;

}

#player1:hover {
  animation: shake 1.0s;
  animation-iteration-count: infinite;
  border-radius: 26px;
}

#deck:hover {
  animation: shake 1.0s;
  animation-iteration-count: infinite;
  border-radius: 26px;
}

#player2:hover {
  animation: shake 1.0s;
  animation-iteration-count: infinite;
  border-radius: 26px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
